html{
    background-image: linear-gradient(180deg,#b6b6b6,#595858);
}
*{
    margin: 0;
}
header{
    background-image: linear-gradient(255deg,#FF0101,#185da9);
    height: 50px;
}


nav{
    display:flex;
    justify-content: space-between;
    padding-left: 1400px;
    padding-right: 50px;   
    padding-top: 13px;
    
   
}
nav a{
  
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
}
nav img{
    position: absolute;
    transform: translateX(-1403px) translateY(-88px);
}
nav a:hover {
    color: black;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.divpai{
    display: flex;
    justify-content: space-between;
}
.divfilho1{
    background-color: #000000;
    width: 33.33%;
    height: 610px;
    background-size: cover;
    color: white;
    padding: 5px;
}
.divfilho2{
    background-color: #0123ff;
    width: 33.33%;
    height: 610px;
    background-image: url(SIMBOLO-ENGENHARIA-DA-COMPUTAÇÃO-3.jpg);
    background-size: cover;
}
.divfilho3{
    background-color: #000000;
    width: 33.33%;
    height: 610px;
    background-size: cover;
    color: white;
    padding: 5px;
}
p{
    font-size: 20px;
}
.linkbw{
    font-size: 50px;
    color: rgb(4, 0, 255);
    text-decoration: none;
}
.linkbw:hover{
    color: black;
}
.footer{
    background-image: url(1516973.jpg);
    height: 500px;
}
footer p{
    font-size: 50px;
    text-decoration: underline;
}
